.the_gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-item {
    width: 32%;
    background-color: #e4e4e4;
    padding:10px;
    color: #000;
}

.the_gallery .gallery-item img.ps-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-position: center;
    object-fit: cover;
}


@media only screen and (max-width: 990px) {
    .the_gallery .gallery-item {
        width: 48%;
    }

    /* .the_gallery .gallery-item img.ps-img {
        height: 230px;
    } */
}

@media only screen and (max-width: 600px) {
    .the_gallery .gallery-item {
        width: 100%;
    }

    /* .the_gallery .gallery-item img.ps-img {
        height: 200px;
    } */
}


@media only screen and (min-width: 320px) {

.the_gallery .gallery-item h3.title {
        font-size: calc(16px + 1 * (100vw - 320px) / (1720 - 320));
        text-wrap:nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.gallery-block .gallery-ps-grid.cards h3.post-card__title {
    margin-bottom: 30px;
}
.gallery-block .gallery-ps-grid.cards p.post-card__date {
   padding: 5px 8px;
}
.gallery-block .gallery-ps-grid.cards {
    padding: 40px 0;
}
.gallery-block .photo-share-swiper img.slider-photo-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}